[submodule "zed"]
	path = zed
	url = https://github.com/zed-industries/zed
	active = false
	update = none
	shallow = true
[submodule "zed-extensions"]
	path = zed-extensions
	url = https://github.com/zed-industries/extensions
	active = false
	update = none
	shallow = true
[submodule "lsp-data"]
	path = lsp-data
	url = https://github.com/cozysoft-io/code-analysis-lsp-data.git
	active = false
	update = none
	shallow = true
